
{% extends 'shared/base.html' %}
{% load static %}


{% block content %}

    <p style="text-align: center">BESTSHOP exists for the love of fashion. We believe in empowering individuality. Our mission is to be the global platform for luxury fashion, connecting creators, curators and consumers.
        At the same time, we offer you the best price at the market because we know how expensive is to be dressed well.
        You can buy brand new clothes, second hand clothes or sell your old clothes.
    </p>
{% endblock %}