{% extends 'shared/base.html' %}
{% block content %}
    <h2>Return policy</h2>
        <p style="padding-bottom: 20px"> You can return every product within 30 days after the purchase if the product is in the same condition.</p>
    <h2>Shipping</h2>
        <p style="padding-bottom: 20px"> We work with Speedy. You will receive your order within 3 working days.</p>

    <h2>Payment method</h2>
        <p style="padding-bottom: 20px">You can pay online or cash in Speedy's office.</p>

    <h2>Shipping cost</h2>
        <p style="padding-bottom: 20px"> If your purchase is below 50$ the shipping cost is 3$.</p>

{% endblock %}